/* Layout.css */

.layout-container {
    display: flex;
  }
  
  .main-content {
    flex: 1; /* Takes up the remaining space */
    padding-left: 250px; /* Adjust this value based on your sidebar width */
  }
  